<section class="page-section bg-dark text-white" id="calltoaction">
    <div class="container text-center">
        <h2 class="mb-4">Степные волки продолжают набор будущих хоккеистов!</h2>
        <hr class="divider light my-4">
        <p class="pb-3">
        Занятия проводятся на льду и в зале.
        </p>
        <p class="pb-3">
          Лёд: ул. Советская, д. 211, <a class="js-scroll-trigger text-white map-link" href="/index#map">ФОК «УМКА»</a><br/>
          Зал: пр. К.Маркса, д. 143/1, <a class="js-scroll-trigger text-white map-link" href="/index#map">Тренировочный центр «Степные волки»</a>.
        </p>
        <a class="btn btn-light btn-xl" href="tel:+79227337707"><i class="fas fa-phone"></i> +7&nbsp;(922)&nbsp;733-77-07</a>
    </div>
</section>
